In [23]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler , LabelEncoder , OneHotEncoder
import pickle

In [24]:
data = pd.read_csv('churn_modelling_mock.csv')

In [25]:
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    23882676     Smith  ...               0        98692.59      1
1          2    21241085     Jones  ...               0       100328.10      0
2          3    35705918     Brown  ...               0        26725.66      0
3          4    71446290   Johnson  ...               1        52497.78      1
4          5    90595402  Williams  ...               1        40068.71      0

[5 rows x 14 columns]

In [26]:
data = data.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

In [27]:
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          840    France  Female  ...               0         98692.59       1
1          419     Spain  Female  ...               0        100328.10       0
2          620   Germany  Female  ...               0         26725.66       0
3          424    France    Male  ...               1         52497.78       1
4          406    France    Male  ...               1         40068.71       0

[5 rows x 11 columns]

In [28]:
label_encoder = LabelEncoder()
data['Gender'] = label_encoder.fit_transform(data['Gender'])

In [29]:
onehot_encoder_geo = OneHotEncoder(handle_unknown='ignore')
geo_encoded = onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

       Geography_France  Geography_Germany  Geography_Spain
0                   1.0                0.0              0.0
1                   0.0                0.0              1.0
2                   0.0                1.0              0.0
3                   1.0                0.0              0.0
4                   1.0                0.0              0.0
...                 ...                ...              ...
19995               0.0                1.0              0.0
19996               0.0                0.0              1.0
19997               0.0                1.0              0.0
19998               0.0                0.0              1.0
19999               1.0                0.0              0.0

[20000 rows x 3 columns]

In [30]:
data = pd.concat([data.drop('Geography', axis=1), geo_encoded_df], axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          840       0  ...                0.0              0.0
1          419       0  ...                0.0              1.0
2          620       0  ...                1.0              0.0
3          424       1  ...                0.0              0.0
4          406       1  ...                0.0              0.0

[5 rows x 13 columns]

In [31]:
X = data.drop('EstimatedSalary', axis=1)
y = data['EstimatedSalary']

In [32]:
y.head()

0     98692.59
1    100328.10
2     26725.66
3     52497.78
4     40068.71
Name: EstimatedSalary, dtype: float64

In [33]:
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [34]:
scaler = StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [37]:
with open('salary_label_encoder_gender.pkl','wb') as file:
  pickle.dump(label_encoder,file)

with open('salary_onehot_encoder_geo.pkl','wb') as file:
  pickle.dump(onehot_encoder_geo,file)

with open('salary_scaler.pkl','wb') as file:
  pickle.dump(scaler,file)

In [40]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

In [42]:
model = Sequential([
  Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
  Dense(32, activation='relu'),
  Dense(1)
])

model.compile(optimizer='adam', loss='mean_squared_error', metrics=['mae'])

model.summary()

WARNING:tensorflow:From e:\AIML Practice\ANN Classification\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From e:\AIML Practice\ANN Classification\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [43]:
from tensorflow.keras.callbacks import EarlyStopping , TensorBoard
import datetime
log_dir = "regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorboard_callback = TensorBoard(log_dir=log_dir, histogram_freq=1)

In [44]:
earlystopping_callback = EarlyStopping(
    monitor='val_loss',
    patience=10,
    restore_best_weights=True
)

###Train the model

In [45]:
history = model.fit(
  X_train, y_train,
  validation_data=(X_test, y_test),
  epochs=100,
  callbacks=[earlystopping_callback , tensorboard_callback],
)

Epoch 1/100
WARNING:tensorflow:From e:\AIML Practice\ANN Classification\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From e:\AIML Practice\ANN Classification\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

500/500 [==============================] - 3s 2ms/step - loss: 8955926528.0000 - mae: 85946.9766 - val_loss: 8897063936.0000 - val_mae: 85593.6172
Epoch 2/100
500/500 [==============================] - 1s 2ms/step - loss: 8039679488.0000 - mae: 80377.0078 - val_loss: 7188457472.0000 - val_mae: 75003.8125
Epoch 3/100
500/500 [==============================] - 1s 1ms/step - loss: 5688015872.0000 - mae: 64813.9102 - val_loss: 4373372416.0000 - val_mae: 55504.8867
Epoch 4/100
500/500 [==============================] - 1s 1ms/step - loss: 3125921280.0000 - mae: 46135.3945 - val_loss: 2285723392.0000 - val_mae: 40004.9844
Epoch 5/100
500/500 [==============================] - 1s 1ms/step - loss: 1848179328.0000 - mae: 36891.2148 - val_loss: 1660519808.0000 - val_mae: 35574.7031
Epoch 6/100
500/500 [==============================] - 1s 1ms/step - loss: 1599852800.0000 - mae: 34861.0078 - val_loss: 1593115392.0000 - val_mae: 34756.6406
Epoch 7/100
500/500 [==============================] - 1s 1ms/step - loss: 1580161664.0000 - mae: 34505.1641 - val_loss: 1587991552.0000 - val_mae: 34672.1719
Epoch 8/100
500/500 [==============================] - 1s 2ms/step - loss: 1577056896.0000 - mae: 34472.8672 - val_loss: 1585523200.0000 - val_mae: 34627.2227
Epoch 9/100
500/500 [==============================] - 1s 1ms/step - loss: 1575319552.0000 - mae: 34452.8906 - val_loss: 1583871744.0000 - val_mae: 34608.9805
Epoch 10/100
500/500 [==============================] - 1s 1ms/step - loss: 1574104448.0000 - mae: 34429.0469 - val_loss: 1583554688.0000 - val_mae: 34641.2656
Epoch 11/100
500/500 [==============================] - 1s 1ms/step - loss: 1572888704.0000 - mae: 34438.6641 - val_loss: 1581937280.0000 - val_mae: 34598.5508
Epoch 12/100
500/500 [==============================] - 1s 1ms/step - loss: 1571927552.0000 - mae: 34414.6328 - val_loss: 1582450560.0000 - val_mae: 34652.0234
Epoch 13/100
500/500 [==============================] - 1s 1ms/step - loss: 1570872576.0000 - mae: 34433.1094 - val_loss: 1580217856.0000 - val_mae: 34571.0586
Epoch 14/100
500/500 [==============================] - 1s 1ms/step - loss: 1570076800.0000 - mae: 34387.2148 - val_loss: 1581465600.0000 - val_mae: 34656.1094
Epoch 15/100
500/500 [==============================] - 1s 1ms/step - loss: 1569645312.0000 - mae: 34422.4336 - val_loss: 1580116736.0000 - val_mae: 34605.8516
Epoch 16/100
500/500 [==============================] - 1s 1ms/step - loss: 1569043712.0000 - mae: 34393.7734 - val_loss: 1579681408.0000 - val_mae: 34594.7422
Epoch 17/100
500/500 [==============================] - 1s 1ms/step - loss: 1568295296.0000 - mae: 34408.0781 - val_loss: 1578695808.0000 - val_mae: 34547.3984
Epoch 18/100
500/500 [==============================] - 1s 1ms/step - loss: 1568096512.0000 - mae: 34374.6172 - val_loss: 1579359104.0000 - val_mae: 34622.2617
Epoch 19/100
500/500 [==============================] - 1s 1ms/step - loss: 1567619840.0000 - mae: 34388.3984 - val_loss: 1578669184.0000 - val_mae: 34602.2266
Epoch 20/100
500/500 [==============================] - 1s 2ms/step - loss: 1567109504.0000 - mae: 34395.6289 - val_loss: 1577991424.0000 - val_mae: 34570.4102
Epoch 21/100
500/500 [==============================] - 1s 1ms/step - loss: 1566797568.0000 - mae: 34375.6719 - val_loss: 1578302848.0000 - val_mae: 34581.7617
Epoch 22/100
500/500 [==============================] - 1s 2ms/step - loss: 1566309888.0000 - mae: 34370.2227 - val_loss: 1578176640.0000 - val_mae: 34591.1055
Epoch 23/100
500/500 [==============================] - 1s 1ms/step - loss: 1565770624.0000 - mae: 34344.9297 - val_loss: 1580018688.0000 - val_mae: 34664.7617
Epoch 24/100
500/500 [==============================] - 1s 2ms/step - loss: 1565859328.0000 - mae: 34394.8281 - val_loss: 1578010752.0000 - val_mae: 34592.0859
Epoch 25/100
500/500 [==============================] - 1s 2ms/step - loss: 1565506688.0000 - mae: 34353.9961 - val_loss: 1578804352.0000 - val_mae: 34633.2070
Epoch 26/100
500/500 [==============================] - 1s 2ms/step - loss: 1565334784.0000 - mae: 34377.3867 - val_loss: 1577778816.0000 - val_mae: 34599.0273
Epoch 27/100
500/500 [==============================] - 1s 2ms/step - loss: 1564928000.0000 - mae: 34362.0508 - val_loss: 1577800832.0000 - val_mae: 34598.1758
Epoch 28/100
500/500 [==============================] - 1s 2ms/step - loss: 1564823936.0000 - mae: 34350.7617 - val_loss: 1578057344.0000 - val_mae: 34616.9453
Epoch 29/100
500/500 [==============================] - 1s 2ms/step - loss: 1564787072.0000 - mae: 34365.5469 - val_loss: 1578123136.0000 - val_mae: 34612.3906
Epoch 30/100
500/500 [==============================] - 1s 2ms/step - loss: 1564323072.0000 - mae: 34364.9375 - val_loss: 1577445888.0000 - val_mae: 34582.6484
Epoch 31/100
500/500 [==============================] - 1s 2ms/step - loss: 1564148480.0000 - mae: 34356.2773 - val_loss: 1577451648.0000 - val_mae: 34583.6562
Epoch 32/100
500/500 [==============================] - 1s 2ms/step - loss: 1564093824.0000 - mae: 34351.5625 - val_loss: 1577481984.0000 - val_mae: 34593.2812
Epoch 33/100
500/500 [==============================] - 1s 2ms/step - loss: 1563750656.0000 - mae: 34349.9609 - val_loss: 1576977408.0000 - val_mae: 34573.4219
Epoch 34/100
500/500 [==============================] - 1s 2ms/step - loss: 1563503872.0000 - mae: 34351.6523 - val_loss: 1576987520.0000 - val_mae: 34570.1094
Epoch 35/100
500/500 [==============================] - 1s 2ms/step - loss: 1563340032.0000 - mae: 34337.1562 - val_loss: 1577570688.0000 - val_mae: 34602.8516
Epoch 36/100
500/500 [==============================] - 1s 1ms/step - loss: 1563028864.0000 - mae: 34352.8906 - val_loss: 1577112064.0000 - val_mae: 34557.6523
Epoch 37/100
500/500 [==============================] - 1s 2ms/step - loss: 1562976768.0000 - mae: 34319.7695 - val_loss: 1577923584.0000 - val_mae: 34606.2305
Epoch 38/100
500/500 [==============================] - 1s 2ms/step - loss: 1562627200.0000 - mae: 34345.6367 - val_loss: 1577309824.0000 - val_mae: 34579.5938
Epoch 39/100
500/500 [==============================] - 1s 2ms/step - loss: 1562516480.0000 - mae: 34330.5352 - val_loss: 1577243776.0000 - val_mae: 34584.0469
Epoch 40/100
500/500 [==============================] - 1s 2ms/step - loss: 1562199936.0000 - mae: 34340.1562 - val_loss: 1576927104.0000 - val_mae: 34547.6406
Epoch 41/100
500/500 [==============================] - 1s 2ms/step - loss: 1562329600.0000 - mae: 34327.0273 - val_loss: 1577747072.0000 - val_mae: 34593.9141
Epoch 42/100
500/500 [==============================] - 1s 1ms/step - loss: 1562112256.0000 - mae: 34320.2930 - val_loss: 1577300736.0000 - val_mae: 34589.2891
Epoch 43/100
500/500 [==============================] - 1s 2ms/step - loss: 1561817600.0000 - mae: 34326.5234 - val_loss: 1577807488.0000 - val_mae: 34619.7109
Epoch 44/100
500/500 [==============================] - 1s 2ms/step - loss: 1561284480.0000 - mae: 34343.4336 - val_loss: 1576274944.0000 - val_mae: 34522.7930
Epoch 45/100
500/500 [==============================] - 1s 2ms/step - loss: 1561707520.0000 - mae: 34313.7812 - val_loss: 1576919680.0000 - val_mae: 34570.3477
Epoch 46/100
500/500 [==============================] - 1s 2ms/step - loss: 1561374976.0000 - mae: 34314.1367 - val_loss: 1577391616.0000 - val_mae: 34597.9805
Epoch 47/100
500/500 [==============================] - 1s 2ms/step - loss: 1561206912.0000 - mae: 34324.4219 - val_loss: 1577466496.0000 - val_mae: 34587.4102
Epoch 48/100
500/500 [==============================] - 1s 2ms/step - loss: 1561210752.0000 - mae: 34312.5312 - val_loss: 1577627392.0000 - val_mae: 34609.8477
Epoch 49/100
500/500 [==============================] - 1s 2ms/step - loss: 1561095168.0000 - mae: 34332.8633 - val_loss: 1577053440.0000 - val_mae: 34571.4453
Epoch 50/100
500/500 [==============================] - 1s 2ms/step - loss: 1561108608.0000 - mae: 34309.1953 - val_loss: 1577710336.0000 - val_mae: 34590.2578
Epoch 51/100
500/500 [==============================] - 1s 2ms/step - loss: 1560859904.0000 - mae: 34309.4727 - val_loss: 1577920256.0000 - val_mae: 34603.8086
Epoch 52/100
500/500 [==============================] - 1s 2ms/step - loss: 1560688896.0000 - mae: 34317.3906 - val_loss: 1577662720.0000 - val_mae: 34594.1133
Epoch 53/100
500/500 [==============================] - 1s 2ms/step - loss: 1560524416.0000 - mae: 34307.3984 - val_loss: 1577630720.0000 - val_mae: 34589.3320
Epoch 54/100
500/500 [==============================] - 1s 2ms/step - loss: 1560213760.0000 - mae: 34324.6289 - val_loss: 1576830848.0000 - val_mae: 34532.0469

In [46]:
%load_ext tensorboard

In [48]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6006 (pid 808), started 0:00:27 ago. (Use '!kill 808' to kill it.)

In [49]:
test_loss, test_mae = model.evaluate(X_test, y_test)
print(f"Test Loss: {test_loss}, Test MAE: {test_mae}")

125/125 [==============================] - 0s 918us/step - loss: 1576274944.0000 - mae: 34522.7930
Test Loss: 1576274944.0, Test MAE: 34522.79296875

In [50]:
model.save('regression_model.h5')

e:\AIML Practice\ANN Classification\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(